@{
    ViewData["Title"] = "About Us";
}

<h1 style="text-align:center; color: darkgoldenrod;"><i>Hello, there</i></h1>
<body>
    <p style="text-align:center;font-family:Bookman Old Style; font-size:130%;">
        We really appreciate your visit to our online store and thank you for coming.
        <br />You must be interested in learning more about our company <br />and what we provide if you are reading this, don't you?
    </p>
    
    <p style="text-align:center;font-family:Bookman Old Style; font-size:130%;">
        Our aim was to design a jewellery collection that is not only reasonably priced<br /> but also enduring, elegant, and suitable for daily use.
    </p>

    <p style="text-align:center;font-family:Bookman Old Style; font-size:130%;">
        With you in mind, we meticulously design and select our jewellery lines, <br />which we are happy to combine quality with functionality.
    </p>

    <p style="text-align:center;font-family:Bookman Old Style; font-size:130%;">
        Our collection of long-lasting, reasonably priced jewellery crafted
        <br /> from titanium and stainless steel base metals is constantly expanding. 
       <br /> It uses the most recent plating technique to get a true gold plating<br /> that is hypoallergenic, waterproof, and resistant to tarnish.
    </p>
</body>
