@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4" style="color: darkgoldenrod;">Welcome to Khumalo Craft</h1>
    <br />
    <p style=" font-size: 125%; font-family:Bookman Old Style;">
        High-end jewellery for the practical woman<br />
        Elegant, long-lasting jewellery that is suitable for daily wear. <br />
        Constructed from robust, hypoallergenic, tarnish-free titanium and <br />stainless steel, and finished with a solid gold plating
    </p>
    <br />
</div>

<div class="row">
    <div class="col-md-3">
        <div class="card mb-4">
            <img src="~/images/necklacecollage.jpg" class="card-img-top" alt="Necklace Collage">
            <div class="card-body">
                <h5 class="card-title" style="color: darkgoldenrod"><a asp-action="MyWork">Necklaces</a></h5>
                <p class="card-text">Beautiful handcrafted necklaces</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card mb-4">
            <img src="~/images/braceletcollage.jpg" class="card-img-top" alt="Chunky Paperclip Necklace">
            <div class="card-body">
                <h5 class="card-title" style="color: darkgoldenrod"><a asp-action="MyWork">Bracelets</a></h5>
                <p class="card-text">Beautiful handcrafted bracelets</p>

            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card mb-4">
            <img src="~/images/earingcollage.jpg" class="card-img-top" alt="Pearl Necklace">
            <div class="card-body">
                <h5 class="card-title" style="color: darkgoldenrod"><a asp-action="MyWork">Earings</a></h5>
                <p class="card-text">Beautiful handcrafted earings</p>

            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card mb-4">
            <img src="~/images/ringcollage.jpg" class="card-img-top" alt="Pearl Necklace">
            <div class="card-body">
                <h5 class="card-title" style="color: darkgoldenrod"><a asp-action="MyWork">Rings</a></h5>
                <p class="card-text">Beautiful handcrafted rings</p>

            </div>
        </div>
    </div>

</div> 